<div class="container">
  <div class="row">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navBar" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <i class="icon icon-menu"></i>
      </button>
      <a class="navbar-brand" href="index.html">
        <img alt="The Hartford" src="assets/logo.svg">
      </a>
    </div>
  </div>
</div>
<header class="navbar navbar-default collapse navbar-collapse" id="navBar">
  <div class="navbar-primary" id="primaryNav">
    <div class="container">
      <div class="row">
        <button type="button" class="navbar-toggle-close collapsed" data-toggle="collapse" data-target="#navBar" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <i class="icon icon-close"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="navbar-secondary" id="secondaryNav">
    <div class="container">
      <div class="row">
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a routerLink="">
              <i class="icon icon-document"></i>
              <span>Claims</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
