<footer class="footer-primary">
  <div class="container">
    <div class="row content-row">
      <p class="faqs"><i class="icon icon-questions padding-right"></i>Frequently Asked Questions</p>
      <div class="col-xs-12 col-sm-5 content-contact">
        <p>CONTACT US</p>
        <p><i class="icon icon-chat padding-right"></i>Live Chat</p>
        <p><i class="icon icon-call padding-right"></i>Request a Call</p>
        <p>(XXX) XXX-XXXX</p>
        <p><i class="icon icon-plus padding-right"></i>Feedback</p>
      </div>
      <div class="col-xs-12 col-sm-7 col-md-2 content-norton">
        <img src="assets/norton.svg" alt="Norton Secured - Powered by VeriSign">
      </div>
      <div class="col-xs-12 col-sm-7 col-md-5 content-connect">
        <div class="icons">
          <div><a href="https://www.facebook.com/TheHartford"><i class="icon icon-facebook"><span class="sr-only">Facebook</span></i></a></div>
          <div><a href="https://twitter.com/TheHartford"><i class="icon icon-twitter"><span class="sr-only">Twitter</span></i></a></div>
          <div><a href="https://www.linkedin.com/company/the-hartford"><i class="icon icon-linkedin"><span class="sr-only">Linked In</span></i></a></div>
          <div><a href="https://www.youtube.com/thehartford"><i class="icon icon-video"><span class="sr-only">YouTube</span></i></a></div>
        </div>
        <ul>
          <li><a href="https://www.thehartford.com/contact-the-hartford">Contact Us</a></li>
          <li><a href="https://www.thehartford.com/online-privacy-policy">Privacy Policy</a></li>
          <li><a href="https://www.thehartford.com/legal-notice">Legal Notice</a></li>
          <li><a href="https://www.thehartford.com/accessibility-statement">Accessibility Statement</a></li>
        </ul>
        <p class="copyright">&copy; <script type="text/javascript">document.write(new Date().getFullYear())</script> The Hartford</p>

      </div>
    </div>
  </div>
</footer>
